%default-for-buttons{
    position: relative;
    color: white;
    padding: 15px 50px;
    font-size: 26px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    z-index: 100;
    cursor: pointer;
    transition: 0.4s;
}

%button-shadow-before{
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to left, #ff00d0 0%, #0015f8 100% );
    transform: translate3d(0px, 0px, 0) scale(1.15);
    filter: blur(25px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: 10px;
    animation: blooming 1.7s linear infinite alternate;
    cursor: default;
}

%button-shadow-after{
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: 10px;
    animation: blooming 1.7s linear infinite alternate;
}

%wrapper-default{
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}